<section class="tabs" style="max-width: 500px">
  <menu role="tablist" aria-label="Sample Tabs">
    <button role="tab" aria-selected="true" aria-controls="tab-A">
      Available Services
    </button>
    <button *ngIf="userIsAuthenticated" role="tab" aria-controls="tab-B">My Services</button>
  </menu>
  <!-- the tab content -->
  <article role="tabpanel" class="tabpanel" id="tab-A">
    <ul class="tree-view">
      <li *ngFor="let service of availableServices">
        {{ service.title }}
      </li>
    </ul>
  </article>

  <article role="tabpanel" class="tabpanel" hidden id="tab-B">
    <ul class="tree-view">
      <li *ngFor="let service of myServices">
        {{ service.title }}
      </li>
    </ul>
  </article>
</section>
