.tabs {
  margin: 20px;
}

.tabpanel {
  margin-bottom: 0;
  height: 508px;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
}

.container {
  display: grid;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}