mat-form-field,
textarea{
    width: 100%;
    margin: auto;
}

mat-spinner {
    margin: auto;
}

button[mat-raised-button] {
    height: auto;
    width: auto;
    margin-bottom: 20px;
 }

 input.image-upload {
     visibility: hidden;
    
 }
.image-preview {
    width: 100%;
}
.image-preview img {
     width: 100%;
     box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
 }