<div class="container">
    <div class="item-a" style="text-align: center;">
        <h1>Build amazing <br>things</h1>
        <div>
            <h5>We're TeIsTool, Inc., the company behind service package manager, <br>the service Registry, and much more. 
                We offer those to the community for free,<br> but our day job is building and selling useful tools for developers like you.
            </h5>
        </div>
        <h2>Take your development up a notch</h2>
        <div>
            <h5>Get started today for free, or step up to npm Pro <br>
            to enjoy a premium development experience, with features like private services.
            </h5>
        </div>
        <h3>Come on register!</h3>
</div>
