<div class="title-bar">
  <div class="title-bar-text"><a routerLink="/">TeIsTool</a></div>
  <a routerLink="/auth/signup"><button>Register</button></a>
  <a routerLink="/auth/login"><button>Login</button></a>
  <button (click)="onLogout()">Logout</button>
</div>
<ul role="menubar">
  <li role="menuitem" tabindex="0" aria-haspopup="true">Create</li>
  <li role="menuitem" tabindex="0" aria-haspopup="true">Edit</li>
  <li role="menuitem" tabindex="0" aria-haspopup="true" (click)="onSave()">
    Save
  </li>
</ul>
